<div>
	<form name="itemForm" novalidate>
		<fieldset class="form-group">
			<p>What do you need to do?</p>
			<input type="text" ng-model="input.todo_task" required>
		</fieldset>
		<fieldset class="form-group text" required>
			<p>How important is it to do that?</p>
			<select ng-model="input.todo_importance" required>
				<option value='5'>Very Important</option>
				<option value='4'>Important</option>
				<option value='3'>Kind of important</option>
				<option value='2'>Not that important</option>
				<option value='1'>Not important</option>
			</select>
		</fieldset>
		<fieldset class="form-group">
			<p>How many hours will it take you?</p>
			<input class="error" type="number" min="0.1" step="any" ng-model="input.todo_time" required>
		</fieldset>
		<fieldset class="form-group">
			<p>When does it need to get done?</p>
			<input type="date" ng-model="input.todo_date" required>
		</fieldset>
		<fieldset class="form-group">
			<input type="submit" class="btn btn-default" value="Focus" ng-disabled="itemForm.$invalid" ng-click="addItem()">
			<input type="submit" class="btn btn-default" value="Go Do Stuff" ng-click="goDoStuff()">
		</fieldset>
	</form>	
</div>
