<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title>stack todo</title>
	</head>
	<body ng-app="app">
		<form name ="todoItem">
			Add a todo item	<input type="text" ng-model="input.item">
			How important is this item? <select class="importance" ng-model="input.impValues">
				<option value=5>Very Important</option>
				<option value=4>Important</option>
				<option value=3>Kind of important</option>
				<option value=2>Not that important</option>
				<option value=1>Not important</option>
			</select>
			Estimated time completion? <select class="timeNeeded" ng-model="input.time">
				<option value= 
		</form>	
	</body>
</html>
