<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="app.js"></script>
		<script src="todoItem.js"></script>
		<script src="addItem.js"></script>
		<style type="text/css">
			body {
	   			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	   			font-weight: 300;
			}
		</style>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title>stack todo</title>
	</head>
	<body ng-app="app" ng-controller="viewCtrl as view" class="container text-center">
		<h1>Focus.</h1>
		<todo-item ng-if="state == 'todo'"></todo-item>
		<add-item ng-if="state == 'input'"></add-item>
	</body>
</html>